ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 100px;
	background-color: white;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}


li a {
	display: block;
  color: rgb(59, 59, 59);
  text-align: center;
  padding: 0.5rem 1rem;
	text-decoration: none;
	font-size: 1.2rem;
	min-width: 100px;
	border-bottom: solid 3px rgba(0, 0, 0, 0);
}

li a:hover {
	color: black;
	border-bottom-color: rgb(253, 149, 123);
	transition-duration: 0.5s;
}

.selected{
	border-bottom-color: rgb(253, 149, 123);
}

.header{
	font-family: 'Lobster Two', cursive;
	text-align: center;
	padding: 1rem;
	font-weight: 700;
	background-color: white;
	border-bottom: solid 1px rgb(114, 89, 255);
	font-size: 40px;
}

